
.chart-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* center charts horizontally inside column */
  justify-content: flex-start; /* align content to the top */
  text-align: center;
}

.chart-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subchart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}