.categories-list { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.category {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(233, 223, 223);
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category.active {
  background-color: #b1f6ea;
  border-radius: 6px;
}

.category:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}