.App {
  text-align: center;
}
.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 500px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

button {
  background-color: #A9132Eff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #510d0dff;
}