.App {
  text-align: center;
}

.app-header {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.charts-container-row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.questions-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

button {
  background-color: #A9132Eff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #510d0dff;
}