.App {
  text-align: center;
}

.app-header {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.charts-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

button {
  background-color: #A9132Eff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #510d0dff;
}